@import '../palette';

@mixin button-style($BUTTON_COLOR: #1f2170, $BUTTON_COLOR_DARK: #1b1b60) {
  background: linear-gradient(
    180deg,
    $BUTTON_COLOR 0%,
    $BUTTON_COLOR 50%,
    $BUTTON_COLOR_DARK 50%,
    $BUTTON_COLOR_DARK 100%
  );
  &:hover {
    filter: drop-shadow(0 0 3px mix(white, $BUTTON_COLOR, 40%)) brightness(1.2);
  }
}

.button {
  font-family: mainFont, sans-serif;
  font-size: 1.6em;
  padding: 14px 38px;
  text-decoration: none;
  text-transform: uppercase;
  @include button-style();
  transition: all 0.35s;
  color: rgba(white, 0.8);
  margin: 6px;
}

.button.s {
  padding: 6px 24px;
  font-size: 1.3em;
  margin: 4px;
}

.button.main {
  @include button-style(#c15c0d, #b2540c);
}

.button.secondary {
  @include button-style(#631f70, #541b60)
}

@media screen and (max-width: 1280px) {

  .button {
    font-family: mainFont, sans-serif;
    font-size: 1.4em;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    @include button-style();
    transition: all 0.35s;
    color: rgba(white, 0.8);
    margin: 6px;
  }
  
  .button.s {
    padding: 6px 16px;
    font-size: 1.1em;
    margin: 4px;
  }
  
}

@media screen and (max-width: 400px) {

  .button {
    font-family: mainFont, sans-serif;
    font-size: 1.1em;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    @include button-style();
    transition: all 0.35s;
    color: rgba(white, 0.8);
    margin: 6px;
  }
  
  .button.s {
    padding: 6px 14px;
    font-size: 0.8em;
    margin: 4px;
  }
  
  
}