@import '../palette';

.main-button {
  font-family: mainFont, sans-serif;
  font-size: 1.6em;
  padding: 14px 48px;
  text-decoration: none;
  color: white;
  background-image: url("../../assets/images/button/main-button.webp");
  transition: all 0.35s;
}

.main-button.removed-button {
  display: none;
}

.main-button:hover {
  filter: drop-shadow(0 0 3px rgb($COLOR_SPECIAL, 1)) brightness(1.2);
}