@import '../palette';

.main-button {
  font-family: mainFont, sans-serif;
  font-size: 1.6em;
  padding: 14px 48px;
  text-decoration: none;
  color: white;
  border: 5px solid;
  background-image: url("../../../public/img/main-button-contentbox.png");
  background-repeat: no-repeat;
  background-size: 102% 102%;
  background-clip: border-box;
  border-image: url("../../../public/img/main-button.png") 5 5;
  transition: all 0.35s;
}

.main-button.removed-button {
  display: none;
}

.main-button:hover {
  filter: drop-shadow(0 0 15px rgb($COLOR_RED, 1)) brightness(1.2);
}