@font-face {
  font-family: mainFont;
  src: url(motioncontrol.otf);
}

@font-face {
  font-family: secondaryFont;
  src: url(BAHNSCHRIFT.TTF)
}

.secondary-text, .secondary-text * {
  font-family: secondaryFont;
}