@tailwind base;
@tailwind components;
@tailwind utilities;

@import "palette.scss";

html, body, #root {
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    position: relative;
}
  
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

* {
    box-sizing: border-box;
    font-family: mainFont;
}

.title {
    font-size: 10vh;
    background: -webkit-linear-gradient(left, $COLOR_YELLOW, $COLOR_MID, mix($COLOR_SPECIAL, $COLOR_MID, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #4A90E2 transparent;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #4A90E2;
    border-radius: 10px;
    border: 2px solid transparent;
}

.scrollbar-thin::-webkit-scrollbar-button {
    background: transparent;
}