@import "palette";
@import "font";

$TRANSITION_TIME: 0.8s;

html, body {
  background-color: white;
  overflow: hidden;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar {
  font-family: mainFont, sans-serif;
}

.body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  vertical-align: center;
  display: inline-flex;
}

.main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  display: block;
  transition: all $TRANSITION_TIME;
  animation-fill-mode: forwards;
  animation-duration: $TRANSITION_TIME;
}

.main-container.main-container-primary {
  background-image: url("../../public/img/main-splash.png");
  background-size: 105%;
  animation: 14s ease-in-out backMovementNormal infinite;
}

.main-container.main-container-secondary {
  background-image: url("../../public/img/secondary-splash.png");
  background-size: 105%;
  animation: 14s ease-in-out backMovementNormal infinite;
}

.main-container.main-container-download {
  background-image: url("../../public/img/battle-splash.png");
  background-size: 135%;
  animation: 14s ease-in-out backMovementRight infinite;
  transition: all $TRANSITION_TIME;
  animation-fill-mode: forwards;
}

.main-container .logo-desc {
  font-family: mainFont, sans-serif;
  font-size: 2em;
  margin-top: 0;
  filter: drop-shadow(0px 0px 1px rgba($COLOR_DARK,0.6));
  background: -webkit-linear-gradient(left, white, $COLOR_YELLOW, $COLOR_MID, $COLOR_SPECIAL);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.main-container .logo {
  color: $COLOR_WHITE;
  width: 40%;
  margin-top: 20%;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0px 0px 18px rgba($COLOR_DARK,0.5));
  transition: margin $TRANSITION_TIME ease, width $TRANSITION_TIME ease;
}

.main-container .logo.logo-minimized {

  position: relative;
  z-index: 2;
  margin-top: 15px;
  width: 20%;

}

$__BGMOVEMENT: 12px;
@keyframes backMovementNormal {
  0%, 100% {
    background-position-x: calc(50% - $__BGMOVEMENT);
    background-position-y: 50%;
  }
  50% {
    background-position-x: calc(50% + $__BGMOVEMENT);
    background-position-y: 50%;
  }
}

@keyframes backMovementRight {
  0%, 100% {
    background-position-x: 100%;
    background-position-y: 50%;
  }
  50% {
    background-position-x: calc(100% + 2 * $__BGMOVEMENT);
    background-position-y: 50%;
  }
}

.logo-r {
  clip-path: rect(20px 30px at 50px 30px);
}