//Palette
$COLOR_DARK: #030422;
$COLOR_BACK: #02236b;
$COLOR_NORMAL: #5478c7;
$COLOR_LIGHT: #b2d6ff;

$COLOR_SPECIAL: #8a5fcf;
$COLOR_GREEN: #44C046;
$COLOR_WHITE: #ffffff;
$COLOR_YELLOW: #fdcd6b;
$COLOR_MID: #c593a0;

