@import "src/style/palette";

.main {
  position: relative;
  background-image: url('../../../assets/images/splash/loading-splash.webp');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($COLOR_BACK, 0.9);
  z-index: 1;
}

.error {
  z-index: 2;
  font-size: 10vh;
  background: -webkit-linear-gradient(left, $COLOR_YELLOW, $COLOR_MID, mix($COLOR_SPECIAL, $COLOR_MID, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.errorDesc {
  z-index: 2;
  font-size: 3vh;
  background: -webkit-linear-gradient(left, $COLOR_YELLOW, $COLOR_MID, mix($COLOR_SPECIAL, $COLOR_MID, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}